{% extends 'dummy.html' %}

{% block title %}
    <title>Home Page</title>
{% endblock %}

{% block body_block %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                {% if username %}
                    <h1 class="display-4" style="color: navy;">Welcome to the Home Page, Mr/Ms {{ username }}</h1> <br>
                    <h2 class="display-5" style="color: navy;"><b>SRI JAGANNATH TEMPLE (Parikrama Project)</b></h2>
                {% else %}
                    <h1 class="display-4" style="color: navy;">Welcome to the Home Page</h1> <br>
                    <h2 class="display-5" style="color: navy;"><b>SRI JAGANNATH TEMPLE (Parikrama Project)</b></h2>
                {% endif %}

                <p class="lead" style="color: #333;">The Parikrama project, a 75-metre free passage built around the outer walls (Meghanada Pacheri) of the shrine, is aimed to ensure security to the temple and provide basic civic amenities to the devotees. It has been developed with an investment of Rs 800 crore.</p>

                <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202304/puri_jagannath_temple._1200x768_1-sixteen_nine.jpeg?VersionId=UAxkGvx7Xp9_6eWEAuedY7d9Y9W6w5UG&size=690:388" alt="Beautiful Image" class="img-fluid mt-4" style="border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">

                <p class="mt-4" style="color: #555;">Massive arrangements have been made by Chief Minister Naveen Patnaik for its inauguration on Wednesday, five days before the consecration ceremony of Ayodhya Ram temple. Senior officers of the state government are camping in Puri to oversee the preparations.</p>
            </div>
        </div>
    </div>
{% endblock %}
